{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="intro title">Welcome to your Gardening-blog</h3>
            <p class="intro">If you would like to spend sometime please arrange a booking below</p>
            <p class="intro">Please <a class="link" href="{% url 'account_signup' %}">sign-up</a> or <a class="link" href="{% url 'account_login' %}">login</a> so I have details to contact you.</p>
        </div>
    </div>
</div>



{% endblock %}