{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3 class="intro title">Welcome to your Gardening-blog</h3>
            <p class="intro">A place for people with different levels of experience and ability to learn new ideas and share thoughts and opinions on information shared.</p>
            <p class="intro">Please <a class="link" href="{% url 'account_signup' %}">sign-up</a> or <a class="link" href="{% url 'account_login' %}">login</a> to join the conversation, don't forget to follow up on our social media platforms with links at the foot of the page</p>
        </div>
    </div>
</div>


{% endblock %}